<%- include header %>
<form method="post">
  User Id: <input id="userid" type="text" name="userid"/><br />
  Entry Hash:<input id="entryhash" type="text" name="entryhash"/><br />
           <input type="submit" value="submit"/>
</form>
<%- include footer %>