<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>BitEmers</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">home</a></span>
<span><a title="建立病历" href="/addrec">Create Record</a></span>
<span><a title="查查病历列表" href="/queryrec">List Record</a></span>
<span><a title="查看指定病历" href="/selectrec">Select Record</a></span>
<span><a title="删除病历" href="/deleterec">Delete Record</a></span>
</nav>

<article>