<%- include header %>
<form method="post">
  User Id: <input id="userid" type="text" name="userid"/><br />
  Secret: <input id="secret" type="text" name="secret"/><br />
           <input type="submit" value="submit"/>
</form>
<%- include footer %>